body {
  font-family: 'Oswald', sans-serif;
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 150px;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header{
  grid-area: header;
  display: flex;
  justify-content: space-around;
  border-bottom: #fff solid 1px;
  align-items: center;
  background-color: black;
  padding: 20px;
}

.header-logo{
  order: -1;
  width: 200px;
  height: 200px;
}

.Position-Itens{
    width: 425px;
}

a{
  text-decoration: none;
  color: white;
  padding: 2%;
}

.Display-inline{
  display: inline;
}

#logo-position{
  width: 200px;
  height: 200px;
}

a:hover{
  color: red;
}

a:active{
  color: white;
}

footer {
grid-area: footer;
display: flex;
align-items:center;
justify-content:center;
border-top: #fff solid 1px;
background-color: black;
color: #fff;
}

.ImgFooter{
display: flex;
width: 10%;
height: 100%;
}

#Linha{
border-top: #fff solid 1px;
}

main{
  grid-area: main;
  background-image: linear-gradient(to bottom , black , blue, purple);
}

/* Index */ 

.Parte1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.Apresentacao {
  flex: 1;
  padding: 20px;
}

.T1 {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.T2 {
  font-size: 1.2em;
  line-height: 1.5;
  color: #666;
}

.ImgTitulo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-titulo {
  width: 80%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Index */

.Parte1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-radius: 8px;
  margin-bottom: 2%;
  border-bottom: #fff solid 1px;
}

.Parte1 h1 {
  font-size: 2em; 
  text-align: center;
  color: #E040FB;
}

.Parte1 p {
  font-size: 1.1em;  
  line-height: 1.6;
  color: #ffffff;
}

.Apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; 
  flex: 1;  
}

.ImgTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
}

.img-titulo {
  max-width: 50%;  
  height: auto; 
}

/* beneficios*/

.beneficios-section {
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 2% auto;
  background-color: #ffffff;
  width: 80%;
}

.beneficios-section h1 {
  font-size: 2em;
  text-align: center;
  color: #E040FB;
  margin-bottom: 20px;
}

.beneficio {
  margin-bottom: 2%;
  padding: 2%;
  border-left: 5px solid #E040FB;
  background-color: #808080;  /* Aplicando cor cinza claro nos cartões */
  border-radius: 5px;
}

.beneficio h2 {
  font-size: 1.5em;
  color: #E040FB;
}

.beneficio p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #f0f0f0;
}

/* Planos */

.planos {
  grid-area: main;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.planos h1 {
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  border-bottom: 2px solid #ccc;
}

.plano {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.plano:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.plano img {
  width: 15%;
  margin-bottom: 15px;
}

.plano h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.plano p {
  margin: 5px 0;
  line-height: 1.5;
  color: #666;
  text-align: center;
}

.plano button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.plano button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

/* Contato */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 10px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: yellowgreen;
  transform: scale(1.2);
}

.Contato {
  display: flex;
  flex-direction: column;
}

table {
  margin: 1% 40%;
}

td, th {
  border: 1px solid red;
  padding: 8px 15px;
}

.form-background {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 20px auto;
}