*{
  box-sizing: border-box;
  margin: 0;
}

body{
  display: grid;
  height: 100vh;
  grid-template-areas:
  "header header"
  "main main"
  "footer footer";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr 250px;
}

header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: rgb(160, 145, 145);
  border-bottom: #fff solid 1px;
  align-items: center;
  padding: 20px;
}

header div{
  width: 200px;  
}

.header-logo{
  order: -1;
}

.TituloHeader{
  font-size: 25px;
  color: black;
}

a{
  text-decoration: none;
  color: black;
  font-size: large;
}

.Display-inline{
  display: inline;
}

#logo-position{
  width: 60px;
  height: 70px;
}

a:hover{
  color: red;
}

a:active{
  color: white;
}

/* ------------------------------- */

.mainindex{
  grid-area: main;
  background-image: linear-gradient(to bottom , rgb(160, 145, 145) , black);
}

.TituloMain{
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: White;
  padding: 1%;
  text-align: center;
}

.titulo{
  display: flex;
  justify-content: space-between;
}

.Apresentacao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: White;
  margin-left: 10%;
  font-size: 150%;
}

.ImgTitulo{
  display: flex;
  justify-content: center;
  float: right;
  margin-top: 4%;
}

.img-titulo{
  width: 60%;
  border: 1px solid #fff;
}

.beneficios{
  display: flex;
  justify-content: center;
  grid-area: titulobene;
  font-size: 350%;
  color: White;
  margin: 2%;
  border-top: #fff solid 1px;
  padding-top: 1%;
}

.beneficiossuper{
  display: flex;
  justify-content: space-between;
}

.imgbeneficio{
  display: flex;
  justify-content: center;
  float: right;

}

.imgbene{
  width: 60%;
  border: 1px solid #fff;
}

.BeneficiosPrincipal{
  display: flex;
  font-size: 150%;
  color: White;
  text-align: center;
  margin-left: 15%;
  margin-top: 6%;
}

.NossoEstabelecimento{
  display: flex;
  justify-content: center;
  grid-area: titulocal;
  font-size: 300%;
  color: White;
  margin: 2%;
  border-top: #fff solid 1px;
  padding-top: 1%;
}

.Localidade{
  display: flex;
  font-size: 180%;
  color: White;
  justify-content: center;
  text-align: center;
}

.Mapass{
  display: flex;
  flex-direction: column;
}

.Maps{
  display: flex;
  justify-content: center;
  padding-top: 1%;
  margin-bottom: 1.5%;
}

.Mapaa{
  width: 80%;
}

.video{
  width: 90%;
  border: 1px solid #fff;
}

.Video{
  display: flex;
  justify-content: center;
  font-size: 280%;
  color: White;
  border-top: #fff solid 1px;
  padding-top: 1%;
  margin-bottom: 1%;
}

.Videoo{
  display: flex;
  justify-content: center;
  margin-bottom: 1%;

}

footer {
  grid-area: footer;
  display: flex;
  align-items:center;
  justify-content:center;
  border-top: #fff solid 1px;
  background-color: black;
  color: #fff;
}

.ImgFooter{
  display: flex;
  width: 10%;
  height: 65%;
}

/* CONTATO */

.maincontato{
  background-image: linear-gradient(to bottom , rgb(160, 145, 145) , black);
  display: grid;
  grid-area: main;
  color: #fff;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
	margin: 20px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 0;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 10px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: red;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: yellowgreen;
	transform: scale(1.2);
}

.Horario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contato{
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
	margin: 1% 40%;
}

td, th {
	border: 1px solid red;
	padding: 8px 15px;
}

/* Produtos */

.mainproduto{
  display: grid;
  grid-area: main;
  color: #fff;
  background-image: linear-gradient(to bottom , rgb(160, 145, 145) , black);
}

.produtos {
	margin: 0 auto;
	padding: 4% 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 3% 1%;
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 10px;
}

.produtos li:hover {  
	border-color: red;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 250%;
}

.produtos h2 {
	font-size: 200%;
	font-weight: bold;
}

.produto-descricao {
	font-size: 180%;
}

.produto-preco {
	font-size: 220%;
	font-weight: bold;
	margin-top: 10%;
}

.produto-preco1 {
	font-size: 230%;
	font-weight: bold;
  margin: 4.5%;
}

.IMGPRODUTOS{
  width: 60%;
}

@media (max-width: 680px) {
  .produtos{
    flex-direction: column;
  }
}